@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700|Roboto:300,400,500,700');
body{
    background:#f6f6f6;
}
.main{
    margin-top: 70px;
}
.navbar .navbar-brand{
    border: none;
}
.bg-gray{
    background:#e4e4e4; 
}
.dropdown-menu .header{
    border: none;
    padding: 0;
    min-width: 300px;
}
.dropdown-menu ul.menu li a:hover{
    background: #ffffff;
}
.dropdown-menu ul.menu .menu-info{
    top: -3px;
}
.dropdown-menu ul.menu .menu-info h4{
    font-size: 16px;
}
.dropdown-menu ul.menu .menu-info h4 span.date-mes{
    font-size: 12px;
    margin-left: 60px;
    opacity: .5;
    color: #191919;
}
.dropdown-menu ul.menu .menu-info p{
    font-size: 12px;
}
.dropdown-menu .footer a{
    border: none;
    padding: 40px 0 5px;
}
.date-not{
    color: #46b692;
}
.p-not{
    position: relative;
    left: 100px;
}
a.cover{
    position: absolute;
    right: 20px;
    text-decoration: none;
    color: #fff;
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 15px;
}
.cover span{
    margin-right: 10px;
}
a.res-logo{
    position: absolute;
    bottom: 80px;
    left: 50px;
    text-decoration: none;
    color: #fff;
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding: 10px;
}
a.gallery{
    position: absolute;
    z-index: 11;
    right: 0;
    bottom: 0;
    text-decoration: none;
    color: #fff;
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    padding: 15px;
}
a.gallery span{
    margin-right: 10px;
}
input[type="file"]{
    border: 1px solid #46b692 !important;
    padding: 10px !important;
    height: 45px;
    border-radius: 3px !important;
}
.fb-profile img.fb-image-lg{
    z-index: 0;
    width: 100%;  
    margin-bottom: 10px;
}
.fb-image-profile{
    margin: -75px 10px 0px 50px;
    z-index: 9;
    width: 20%; 
}
.fb-profile-text b{
    font-size: 16px;
}
.fb-profile-text b span span{
    margin: 5px 15px;
}
.carousel-control.left, .carousel-control.right{
    background-image: none;
}
.carousel-control {
    top: 40%;
    opacity: 1;
}
.carousel-control i.material-icons{
    font-size: 48px;
    text-shadow: none;
}

.info-box-2 .icon img{
    margin: 25px 0px;
}
.info-box-2.hover-zoom-effect .icon {
    overflow: hidden; 
}
.info-box-2.hover-zoom-effect .icon img {
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; 
}

.info-box-2.hover-zoom-effect:hover .icon img {
    opacity: 0.4;
    -moz-transform: rotate(-32deg) scale(1.4);
    -ms-transform: rotate(-32deg) scale(1.4);
    -o-transform: rotate(-32deg) scale(1.4);
    -webkit-transform: rotate(-32deg) scale(1.4);
    transform: rotate(-32deg) scale(1.4); 
}

.info-box-2.hover-expand-effect:after {
    background-color: rgba(0, 0, 0, 0.05);
    content: ".";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    color: transparent;
    -moz-transition: all 0.95s;
    -o-transition: all 0.95s;
    -webkit-transition: all 0.95s;
    transition: all 0.95s; 
}

.info-box-2.hover-expand-effect:hover:after {
    width: 100%; 
}
.info-box-2 .content .text {
    font-size: 18px;
    color: #fff;
    font-weight: 500;
}
.info-box-2 .content .number {
    font-weight: 500;
    font-size: 18px;
    color: #fff;
}
.info-box-2 {
    box-shadow: none;
    cursor: pointer;
    border-radius: 3px;
}
.his-content{
    padding: 7px 10px;
}
.his-content .text{
    font-size: 15px;
    color: #fff;
    font-weight: 500;
    margin-top: 11px
}
.his-content .number{
    font-weight: 500;
    font-size: 20px;
    color: #fff;
}
.bg-violet{
    background: -webkit-linear-gradient(20deg, rgb(39, 29, 93) 0%, rgb(29, 130, 182) 100%);
    background: -o-linear-gradient(20deg, rgb(39, 29, 93) 0%, rgb(29, 130, 182) 100%);
    background: -ms-linear-gradient(20deg, rgb(39, 29, 93) 0%, rgb(29, 130, 182) 100%);
    background: -moz-linear-gradient(20deg, rgb(39, 29, 93) 0%, rgb(29, 130, 182) 100%);
    background: linear-gradient(70deg, rgb(39, 29, 93) 0%, rgb(29, 130, 182) 100%);
}
.bg-blue{
    background: -webkit-linear-gradient(208deg, rgb(103, 115, 231) 0%, rgb(46, 41, 97) 100%);
    background: -o-linear-gradient(208deg, rgb(103, 115, 231) 0%, rgb(46, 41, 97) 100%);
    background: -ms-linear-gradient(208deg, rgb(103, 115, 231) 0%, rgb(46, 41, 97) 100%);
    background: -moz-linear-gradient(208deg, rgb(103, 115, 231) 0%, rgb(46, 41, 97) 100%);
    background: linear-gradient(242deg, rgb(103, 115, 231) 0%, rgb(46, 41, 97) 100%);
}
.bg-light-blue{
    background: -webkit-linear-gradient(20deg, rgb(121, 86, 236) 0%, rgb(47, 185, 248) 100%);
    background: -o-linear-gradient(20deg, rgb(121, 86, 236) 0%, rgb(47, 185, 248) 100%);
    background: -ms-linear-gradient(20deg, rgb(121, 86, 236) 0%, rgb(47, 185, 248) 100%);
    background: -moz-linear-gradient(20deg, rgb(121, 86, 236) 0%, rgb(47, 185, 248) 100%);
    background: linear-gradient(70deg, rgb(121, 86, 236) 0%, rgb(47, 185, 248) 100%);
}
.bg-cyan{
    background: -webkit-linear-gradient(20deg, rgb(0, 159, 197) 0%, rgb(60, 236, 176) 100%);
    background: -o-linear-gradient(20deg, rgb(0, 159, 197) 0%, rgb(60, 236, 176) 100%);
    background: -ms-linear-gradient(20deg, rgb(0, 159, 197) 0%, rgb(60, 236, 176) 100%);
    background: -moz-linear-gradient(20deg, rgb(0, 159, 197) 0%, rgb(60, 236, 176) 100%);
    background: linear-gradient(70deg, rgb(0, 159, 197) 0%, rgb(60, 236, 176) 100%);
}
.bg-sky{
    background: -webkit-linear-gradient(49deg, rgb(121, 86, 236) 0%, rgb(47, 185, 248) 100%);
    background: -o-linear-gradient(49deg, rgb(121, 86, 236) 0%, rgb(47, 185, 248) 100%);
    background: -ms-linear-gradient(49deg, rgb(121, 86, 236) 0%, rgb(47, 185, 248) 100%);
    background: -moz-linear-gradient(49deg, rgb(121, 86, 236) 0%, rgb(47, 185, 248) 100%);
    background: linear-gradient(49deg, rgb(121, 86, 236) 0%, rgb(47, 185, 248) 100%);
    height: 120px;
    padding: 5px 0 40px 0;
    border-radius: 5px;
}
.bg-yellow{
    background: -webkit-linear-gradient(49deg, rgb(255,142,100) 0%, rgb(255,230,65) 100%);
    background: -o-linear-gradient(49deg, rgb(255,142,100) 0%, rgb(255,230,65) 100%);
    background: -ms-linear-gradient(49deg, rgb(255,142,100) 0%, rgb(255,230,65) 100%);
    background: -moz-linear-gradient(49deg, rgb(255,142,100) 0%, rgb(255,230,65) 100%);
    background: linear-gradient(49deg, rgb(255,142,100) 0%, rgb(255,230,65) 100%);
    height: 120px;
    padding: 0px 0 40px 0;
    border-radius: 5px;
}
.bg-green{
    background: -webkit-linear-gradient(-129deg, rgb(62,236,177) 0%, rgb(116,225,68) 100%);
    background: -o-linear-gradient(-129deg, rgb(62,236,177) 0%, rgb(116,225,68) 100%);
    background: -ms-linear-gradient(-129deg, rgb(62,236,177) 0%, rgb(116,225,68) 100%);
    background: -moz-linear-gradient(-129deg, rgb(62,236,177) 0%, rgb(116,225,68) 100%);
    background: linear-gradient(-129deg, rgb(62,236,177) 0%, rgb(116,225,68) 100%);
    height: 120px;
    padding: 0px 0 40px 0;
    border-radius: 5px;
}
.bg-mate{
    background: -webkit-linear-gradient(49deg, rgb(52,32,112) 0%, rgb(234,161,174) 100%);
    background: -o-linear-gradient(49deg, rgb(52,32,112) 0%, rgb(234,161,174) 100%);
    background: -ms-linear-gradient(49deg, rgb(52,32,112) 0%, rgb(234,161,174) 100%);
    background: -moz-linear-gradient(49deg, rgb(52,32,112) 0%, rgb(234,161,174) 100%);
    background: linear-gradient(49deg, rgb(52,32,112) 0%, rgb(234,161,174) 100%);
    height: 120px;
    padding: 0px 0 40px 0;
    border-radius: 5px;
}
.bg-blue-green{
    background: -webkit-linear-gradient(49deg, rgb(0,159,197) 0%, rgb(60,236,176) 100%);
    background: -o-linear-gradient(49deg, rgb(0,159,197) 0%, rgb(60,236,176) 100%);
    background: -ms-linear-gradient(49deg, rgb(0,159,197) 0%, rgb(60,236,176) 100%);
    background: -moz-linear-gradient(49deg, rgb(0,159,197) 0%, rgb(60,236,176) 100%);
    background: linear-gradient(49deg, rgb(0,159,197) 0%, rgb(60,236,176) 100%);
    height: 120px;
    padding: 0px 0 40px 0;
    border-radius: 5px;
}
.bg-dblue-lgreen{
    background: -webkit-linear-gradient(49deg, rgb(33,137,153) 0%, rgb(173,230,189) 100%);
    background: -o-linear-gradient(49deg, rgb(33,137,153) 0%, rgb(173,230,189) 100%);
    background: -ms-linear-gradient(49deg, rgb(33,137,153) 0%, rgb(173,230,189) 100%);
    background: -moz-linear-gradient(49deg, rgb(33,137,153) 0%, rgb(173,230,189) 100%);
    background: linear-gradient(49deg, rgb(33,137,153) 0%, rgb(173,230,189) 100%);
    height: 120px;
    padding: 0px 0 40px 0;
    border-radius: 5px;
}
.bg-violet-blue{
    background: -webkit-linear-gradient(49deg, rgb(121,86,236) 0%, rgb(47,185,248) 100%);
    background: -o-linear-gradient(49deg, rgb(121,86,236) 0%, rgb(47,185,248) 100%);
    background: -ms-linear-gradient(49deg, rgb(121,86,236) 0%, rgb(47,185,248) 100%);
    background: -moz-linear-gradient(49deg, rgb(121,86,236) 0%, rgb(47,185,248) 100%);
    background: linear-gradient(49deg, rgb(121,86,236) 0%, rgb(47,185,248) 100%);
    height: 120px;
    padding: 0px 0 40px 0;
    border-radius: 5px;
}
.bg-violet-lviolet{
    background: -webkit-linear-gradient(49deg, rgb(81,52,179) 0%, rgb(177,117,236) 100%);
    background: -o-linear-gradient(49deg, rgb(81,52,179) 0%, rgb(177,117,236) 100%);
    background: -ms-linear-gradient(49deg, rgb(81,52,179) 0%, rgb(177,117,236) 100%);
    background: -moz-linear-gradient(49deg, rgb(81,52,179) 0%, rgb(177,117,236) 100%);
    background: linear-gradient(49deg, rgb(81,52,179) 0%, rgb(177,117,236) 100%);
    height: 120px;
    padding: 0px 0 40px 0;
    border-radius: 5px;
}
.bg-blue-lblue{
    background: -webkit-linear-gradient(49deg, rgb(43,126,193) 0%, rgb(105,204,226) 100%);
    background: -o-linear-gradient(49deg, rgb(43,126,193) 0%, rgb(105,204,226) 100%);
    background: -ms-linear-gradient(49deg, rgb(43,126,193) 0%, rgb(105,204,226) 100%);
    background: -moz-linear-gradient(49deg, rgb(43,126,193) 0%, rgb(105,204,226) 100%);
    background: linear-gradient(49deg, rgb(43,126,193) 0%, rgb(105,204,226) 100%);
    height: 120px;
    padding: 0px 0 40px 0;
    border-radius: 5px;
}
.bg-dblue-lblue{
    background: -webkit-linear-gradient(-137deg, rgb(103,115,231) 0%, rgb(46,41,97) 100%);
    background: -o-linear-gradient(-137deg, rgb(103,115,231) 0%, rgb(46,41,97) 100%);
    background: -ms-linear-gradient(-137deg, rgb(103,115,231) 0%, rgb(46,41,97) 100%);
    background: -moz-linear-gradient(-137deg, rgb(103,115,231) 0%, rgb(46,41,97) 100%);
    background: linear-gradient(-137deg, rgb(103,115,231) 0%, rgb(46,41,97) 100%);
    height: 120px;
    padding: 0px 0 40px 0;
    border-radius: 5px;
}
.bg-lred{
    background: #e96e6e;
    height: 120px;
    padding: 0px 0 40px 0;
    border-radius: 5px;
}
.bg-lired{
    background: #ec5353;
    height: 120px;
    padding: 0px 0 40px 0;
    border-radius: 5px;
}
.bg-ligred{
    background: #ef4343;
    height: 120px;
    padding: 0px 0 40px 0;
    border-radius: 5px;
}
.bg-lighred{
    background: #f03434;
    height: 120px;
    padding: 0px 0 40px 0;
    border-radius: 5px;
}
.glyphicon{
    line-height: inherit;
    color: #191919;
}
.list-top ul li, .list-bottom ul li{
    margin-left: 20px;
    padding: 10px 0;
}
.list-top ul li img, .list-bottom ul li img{
    margin-right: 15px;
}
.list-top ul li a, .list-bottom ul li a{
    text-decoration: none;
}
.list-top ul li span, .list-bottom ul li span{
    color: #191919;
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
}
.list-bottom{
    margin-top: 300px;
}

.info-icon{
    margin-top: 15px;
}
.info-icon img{
    margin-right: 10px;
}
.info-icon span{
    font-weight: 500;
    color: #ffffff;
    font-size: 14px;
}

/* Carousal Section Area
=============================== */
.last-item{
    margin-top: 100px;
}
.last-item .description{
    padding: 120px 20px 80px 20px;
}
.single-member {
    height: auto;
    margin-bottom: 0px;
    border-radius: 7px;
    padding-bottom: 0px;
    margin: 0 10px;
    text-align: left;
}
.description{
      background: #fff;
      padding: 80px 20px 20px 20px;
      position: relative;
      bottom: 50px;
}
.description h3 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    margin: 0;
}
.description h5 {
    font-size: 18px;
    font-weight: 600;
}
.description p{
    color: #dbdbdb;
    font-size: 13px;
    font-family: 'Fira Sans', sans-serif;
}
.description h4 span del{
    color: #191919;
    opacity: .5;
    font-size: 13px;
    font-family: 'Fira Sans', sans-serif;
    position: relative;
    top: 6px;
}
.description h4 span i.material-icons{
    color: #dbdbdb;
    position: relative;
    top: 6px;
}
.btn-share{
    background: #e8e8e8;
    margin: 10px 56px 0px 56px;
    font-size: 14px !important;
    font-family:  'Fira Sans', sans-serif;
}
.btn-share i.material-icons{
    font-size: 14px !important;
}
.single-member > a{
    color: #191919;
    text-decoration: none;
}

.overlay-hover:hover .overlay-effect{
    opacity:1;
   -webkit-transition: top 0.35s ease 0s;
    -o-transition: top 0.35s ease 0s;
    transition: top 0.35s ease 0s;
    top: 0px;
}
.overlay-hover {
    position: relative;
    overflow:hidden;
    z-index: 100;
    margin: 0 10px;
}
.overlay-hover img{
    width: 100%!important;
}
.overlay-effect ul.social{
    bottom:5%;
    position: absolute;
    width: 100%;
}
.overlay-effect ul.social li{
    padding: 10px 0px;
}

.overlay-effect ul.social i{
    width: 40px;
    height: 40px;
    color: #fff;
    padding: 10px;
    font-size: 20px;
}

.overlay-effect ul li a {
    text-decoration: none;
    color: #4E4E4E;
}
.sidebar {
    background: #fff;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
}
.card {
    border-radius: 5px;
    box-shadow: none;
}
.card .body {
    padding: 15px;
}
.nav-tabs {
    border-bottom: none;
    margin-bottom: 20px;
}
.nav-tabs > li > a{
    color: #191919 !important;
    font-weight: 500;
}
.nav-tabs li.active a{
    background: #46b692;
    color: #fff !important;
    border-radius: 5px;
    font-weight: 500;
}
.nav-tabs > li > a:before{
    border: none;;
}
.nav-tabs li.active a:hover, .nav-tabs li.active a:active, .nav-tabs li.active a:focus {
    background-color: #46b692 !important;
}



/* Carousel Css
=========================== */
.team-items{
        width:100%;
        height:auto;
        position:relative;
        float: left;
    }

#owl-demo .item{
  overflow: hidden;
}

#owl-demo .owl-item{
  margin: 0 auto;
}

#owl-demo .item img{
  border: 3px solid #ffffff;
  padding-top: 20px;
  position: relative;
  top: 15px;
}
#team  .owl-theme .owl-controls .owl-buttons{
    padding: 0px;
}
.owl-carousel {
    display: block!important;
}

 #team .owl-theme .owl-controls .owl-buttons .owl-prev {
    width: 50px;
    height: 50px;
    font-size: 35px;
    border-radius: 50%;
    padding-left: 8px!important;
    padding-top: 6px;
    position: absolute;
    left: -80px;
    top: 30%;
    opacity:1;
}
#team .owl-theme .owl-controls .owl-buttons .owl-next {
   width: 50px;
   height: 50px;
   font-size: 35px;
   border-radius: 50%;
   padding-left: 12px;
   padding-top: 6px;
   position: absolute;
   right:-80px;
    top: 30%;
    opacity:1;
}
 #team .owl-theme .owl-controls .owl-buttons .owl-prev
,#team .owl-theme .owl-controls .owl-buttons .owl-next{
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}
.owl-theme .owl-controls {
    margin-top: 0px;
    text-align: center;
}
.owl-buttons{
    position: relative;
    bottom: 315px;
}

.owl-theme .owl-controls .owl-buttons .owl-next {
    float: right;
    margin: 0px 10px;
    position: relative;
    left: 90px;
}
.owl-theme .owl-controls .owl-buttons .owl-prev{
    float: left;
    margin: 0px 10px;
    position: relative;
    right: 90px;
}
.owl-theme .owl-controls .owl-buttons .owl-prev .material-icons,
.owl-theme .owl-controls .owl-buttons .owl-next .material-icons{
    font-size: 64px;
}
.owl-theme .owl-controls .owl-buttons div {
    color: #dbdbdb;
    display: inline-block;
    zoom: 1;
    margin: 5px;
    padding: 3px 10px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background: transparent;
    filter: Alpha(Opacity=50);
    opacity: 0.5;
}

/* Payment Css
=========================== */
.payment-left, .payment-right, .admin-setLeft, .admin-setRight, .other-set{
    margin-top: 30px;
}
.payment-left h4{
    margin-bottom: 30px;
}
.payment-left table{
    margin-top: 20px;
}
.payment-left table thead tr{
    background: #00b16a;
    color: #fff;
    font-weight: 500;
    font-size: 14px;  
}
.payment-left .table-bordered > thead > tr > td{
    border-bottom-width: 0;
    border:none;
    padding: 20px 0;
}
.payment-left table tbody tr{
    background: #fff;
}
.payment-left table tbody tr td{
    padding: 20px 0;
    font-weight: 500;
    font-size: 14px;
}
.payment-left .table-bordered, .payment-left .table-bordered tbody tr td{
    border: 1px solid #00b16a;
}
.payment-left form{
    margin: 30px 100px;
}
.payment-left .form-group input{
    height: 60px;
    border: 2px solid #f89406;
    background: #f6f6f6;
    border-radius: 5px;
    padding: 0 20px;
}
.payment-left .form-group a.btn-warning{
    background: #f89406 !important;
    height: 60px;
    line-height: 48px;
    font-weight: 500;
    font-size: 18px !important;
}
.payment-left ul li{
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: #191919;
}
.payment-right ul{
    margin-top: 70px;
    margin-bottom: 20px;
}
.payment-right > img{
    margin-top: 40px;
}

.admin-setLeft h4, .admin-setRight h4, .other-set h4{
    color: #46b692;
    font-size: 16px;
    font-weight: 500;
}
.admin-setLeft .form-group, .admin-setRight .form-group, .other-set .form-group{
    margin-bottom: 15px;
}
.admin-setLeft .form-group label, .admin-setRight .form-group label, .other-set .form-group label{
    color: #191919;
    font-size: 14px;
    font-weight: 500;
    line-height: 36px;
}
.admin-setLeft .form-group .form-control, .admin-setRight .form-group .form-control, .other-set .form-group .form-control{
    border: 1px solid #dbdbdb;
    height: 48px;
    padding: 6px 14px !important;
    background: transparent;
    color: #191919;
}

.admin-setLeft .input-group .input-group-addon, .admin-setRight .input-group .input-group-addon{
    border: 1px solid #dbdbdb;
    border-right: none;
    padding-left: 12px;
}
.open-time, .close-time{
    border-left: none !important;
}
.admin-setRight .btn-main{
    margin-top: 175px;
    padding: 0 20px 0 200px;
}
.other-set .btn-other{
    margin-top: 100px;
    padding: 0 50px 0 200px;
}

.content .order-analytics, .content .manage-discount{
    margin-top: 30px;
}
.order-analytics table thead tr td,
.order-analytics table tbody tr td{
    font-size: 12px;
    font-weight: 600;
}
.order-analytics table thead tr td:nth-child(1), 
.order-analytics table tbody tr td:nth-child(1){
    border: none;
}
.order-analytics table thead tr td:nth-child(4), 
.order-analytics table tbody tr td:nth-child(4),
.order-analytics table thead tr td:nth-child(5), 
.order-analytics table tbody tr td:nth-child(5){
    background: #d3cfce;
    width: 120px;
}

.order-analytics table thead tr td:nth-child(6), 
.order-analytics table tbody tr td:nth-child(6),
.order-analytics table thead tr td:nth-child(7), 
.order-analytics table tbody tr td:nth-child(7){
    background: #7da7d9;
    width: 120px;
}
.order-analytics table thead tr td:nth-child(8), 
.order-analytics table tbody tr td:nth-child(8),
.order-analytics table thead tr td:nth-child(9), 
.order-analytics table tbody tr td:nth-child(9){
    background: #78b4be;
    width: 120px;
}

.table-manage{
    background: #fff;
    margin-bottom: 0;
}
.table-manage tbody tr td{
    color: #191919;
    font-weight: 500;
    font-size: 13px;
}
.pagination > li > a {
    border: none;
    font-weight: bold;
    color: #555;
    margin: 0 5px;
    border-radius: 3px !important;
    background: #e4e4e4;
}


.staff-role{
    background: #fff;
    padding: 15px;
    margin: 0 100px;
}
.staff h4{
    margin-left: 50px;
    font-size: 14px;
}

.staff .item{
    margin: 0 48px;
}