.main{
    margin-top: 80px;
}
.fb-profile img.fb-image-lg{
    z-index: 0;
    width: 100%;  
    margin-bottom: 10px;
}
.fb-image-profile{
    margin: -75px 10px 0px 50px;
    z-index: 9;
    width: 20%; 
}
.fb-profile-text b{
    font-size: 16px;
}
.fb-profile-text b span span{
    margin: 5px 15px;
}

.info-box-2 .icon img{
    margin: 25px 0px;
  }
  .info-box-2.hover-zoom-effect .icon {
    overflow: hidden; 
  }
  .info-box-2.hover-zoom-effect .icon img {
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; 
  }
  
  .info-box-2.hover-zoom-effect:hover .icon img {
    opacity: 0.4;
    -moz-transform: rotate(-32deg) scale(1.4);
    -ms-transform: rotate(-32deg) scale(1.4);
    -o-transform: rotate(-32deg) scale(1.4);
    -webkit-transform: rotate(-32deg) scale(1.4);
    transform: rotate(-32deg) scale(1.4); 
  }
  
  .info-box-2.hover-expand-effect:after {
    background-color: rgba(0, 0, 0, 0.05);
    content: ".";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    color: transparent;
    -moz-transition: all 0.95s;
    -o-transition: all 0.95s;
    -webkit-transition: all 0.95s;
    transition: all 0.95s; 
  }
  
  .info-box-2.hover-expand-effect:hover:after {
    width: 100%; 
  }
  .info-box-2 .content .text {
    font-size: 18px;
    color: #fff;
    font-weight: 500;
}
.info-box-2 .content .number {
    font-weight: 500;
    font-size: 18px;
    color: #fff;
}
.info-box-2 {
    box-shadow: none;
    cursor: pointer;
    border-radius: 3px;
}
.bg-violet{
    background: -webkit-linear-gradient(20deg, rgb(39, 29, 93) 0%, rgb(29, 130, 182) 100%);
    background: -o-linear-gradient(20deg, rgb(39, 29, 93) 0%, rgb(29, 130, 182) 100%);
    background: -ms-linear-gradient(20deg, rgb(39, 29, 93) 0%, rgb(29, 130, 182) 100%);
    background: -moz-linear-gradient(20deg, rgb(39, 29, 93) 0%, rgb(29, 130, 182) 100%);
    background: linear-gradient(70deg, rgb(39, 29, 93) 0%, rgb(29, 130, 182) 100%);
}
.bg-blue{
    background: -webkit-linear-gradient(208deg, rgb(103, 115, 231) 0%, rgb(46, 41, 97) 100%);
    background: -o-linear-gradient(208deg, rgb(103, 115, 231) 0%, rgb(46, 41, 97) 100%);
    background: -ms-linear-gradient(208deg, rgb(103, 115, 231) 0%, rgb(46, 41, 97) 100%);
    background: -moz-linear-gradient(208deg, rgb(103, 115, 231) 0%, rgb(46, 41, 97) 100%);
    background: linear-gradient(242deg, rgb(103, 115, 231) 0%, rgb(46, 41, 97) 100%);
}
.bg-light-blue{
    background: -webkit-linear-gradient(20deg, rgb(121, 86, 236) 0%, rgb(47, 185, 248) 100%);
    background: -o-linear-gradient(20deg, rgb(121, 86, 236) 0%, rgb(47, 185, 248) 100%);
    background: -ms-linear-gradient(20deg, rgb(121, 86, 236) 0%, rgb(47, 185, 248) 100%);
    background: -moz-linear-gradient(20deg, rgb(121, 86, 236) 0%, rgb(47, 185, 248) 100%);
    background: linear-gradient(70deg, rgb(121, 86, 236) 0%, rgb(47, 185, 248) 100%);
}
.bg-cyan{
    background: -webkit-linear-gradient(20deg, rgb(0, 159, 197) 0%, rgb(60, 236, 176) 100%);
    background: -o-linear-gradient(20deg, rgb(0, 159, 197) 0%, rgb(60, 236, 176) 100%);
    background: -ms-linear-gradient(20deg, rgb(0, 159, 197) 0%, rgb(60, 236, 176) 100%);
    background: -moz-linear-gradient(20deg, rgb(0, 159, 197) 0%, rgb(60, 236, 176) 100%);
    background: linear-gradient(70deg, rgb(0, 159, 197) 0%, rgb(60, 236, 176) 100%);
}