@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

body { 
    background: url('../img/sign_bg.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}
img{
    display: block;
}
.sign-in{
    margin: 48px 20px;
    padding: 56px 60px;
    border: none;
}
.sign-in-body h4{
    font-size: 24px;
    font-weight: 700;
    color: #40514e;
    margin:0;
    padding:0 0 48px 0;
}
.sign-in-body h1{
    font-size: 48px;
    font-weight: 300;
    color: #40514e;
    margin:0;
    padding:0 0 48px 0;
}
.sign-in-body > a{
    text-align: center;
    text-decoration: underline;
    margin-top: 48px;
    margin-bottom: 24px;
    display: block;    
}
.sign-in-body > p, .sign-in-body > a{
    color: #cacaca;
    font-size: 18px;
    font-weight: 300;
}
.sign-in-body > p > a{
    color: #46b692;
    text-decoration: underline;
}
.form-group-ovto label{
    font-size: 20px;
    font-weight: 700;
    margin-left: 24px;
    margin-bottom: 16px;
}
.form-control-ovto{
    border-left: none;
}
.checkbox-ovto{
    margin-bottom: 30px;
}
.checkbox-ovto > label{
    color: #cacaca;
    font-size: 16px;
    font-weight: 300;
    position: relative;
    bottom: 10px;
}
.checkbox-ovto > label > span{
    border: 1px solid #46b692;
    margin-right: 20px;
}
.checkbox-ovto > label > [type=checkbox]:checked + span {
    background : #48CFAD;
}
.btn-ovto{
    line-height: 50px;
}